<div class="combat-view">
  <div class="center-stage">
    <CombatView::CombatGrid />
  </div>
  <div class="sidebar">
    <CombatView::ManaDisplay @mana={{this.playerManaPool}} />
    <CombatView::PlayerHand />
  </div>
</div>