<div class="combat-grid {{renderSize}}">
  <div class="board">
    <div class="row"><div class="end-zone">20</div></div>
    {{#each @grid as |row|}}
      <div class="row">
        {{#each row as |cell|}}
          <div class="square">{{cell.x}},{{cell.y}}</div>
        {{/each}}
      </div>
    {{/each}}
    <div class="row"><div class="end-zone">20</div></div>
  </div>
</div>