<div class="mana-display">
  <div class="display-box">
    <div class="mana air"><i>0 💨</i></div>
    <div class="mana fire"><i>0 🔥</i></div>
    <div class="mana water"><i>0 💧</i></div>
    <div class="mana nature"><i>0 🍃</i></div>
  </div>
</div>